/* ==========================================================================
   home.scss - Homepage elements
   ========================================================================== */

section{
    min-height: 500px;
    background-color: $color-home-background;

}

.home{
    padding-top:6rem;
    padding-bottom:10rem;
    .content{
        p{
            font-size:1.4em;
            font-family: "Sofia Pro Soft";
        }
    }




    @media (max-width: 768px) {
        padding-top: 4rem;
        padding-bottom:4rem;
        .content{
            p{
                font-size:0.9em;
            }
        }

    }



}
