/* ==========================================================================
   variables.scss - Variables definition
   ========================================================================== */
$white: 				#FFFFFF;
$black: 				#000000;
$grey: 					#CCCCCC;

$fontFamilyDefault: 	Arial, Helvetica, serif;
$fontSizeDefault: 		12px;
$lineHeightDefault: 	15px;
$fontColorDefault: 		#000000;

$linkColorDefault: 		#000000;

$font-14pt:0.875em;
$font-15pt:0.938em;
$font-22pt:1.375em;
$font-35pt:2.188em;
$font-30pt:1.875em;
$font-75pt:4.688em;
$font-18pt:1.125em;
$font-20pt: 1.250em;
$font-85pt: 5.156em;
$font-25pt:1.563em;


$color-nav:rgb(89,89,89);
$color-main:rgb(228,5,34);

$color-text-nav:#747474;
$color-home-background:#f6f6a4;

$color-header-background:#f6e25b;
$color-red:#f6a4a4;
$color-blue:#a4bdf6;
$color-green:#a4f6bb;
$color-pink:#cebcee;
$color-light-blue:#bceaee;

$color-text-red:#ba443e;
$color-text-blue:#3e5bb9;
$color-text-green:#2baa86;
$color-text-pink:#9d41ac;
$color-text-light-blue:#3085ac;

$color-text-brown:#b43b2d;
